/* CSS RESET */
*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*
1rem = 10px .. how?

(10 / 16) * 100% = 62.5%;

where: 16px = browser default

*/

html {
    font-size: 62.5%; 
    box-sizing: border-box;
}


body {

    background-image: url("triangle-background-27518174.png");
}


h1 {
    text-align: center;
    color: #ffffff;
    margin: 30px 0px -15px;
    font-family: calibri;
    font-size: 4em;
    text-shadow:2px 2px indigo;
}


* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.quiz_wrapper {
    max-width: 650px;
    width: 90%; 
    background-color: #70c1b3;
    border-radius: 8px;
    margin: 30px auto;
    padding: 3rem;
}

.quiz_wrapper .question {
    padding: 25px;
    background-color: #770077;
    border-radius: 8px;
    font-size: 20px;
    /* float: left; */
    width: 100%;
    color: #ffffff;
}
.quiz_wrapper .options {
    /* float: left; */
    width: 100%;
}
.quiz_wrapper .options ul {
    list-style: none;
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.option {
    display: inline-block;
    background-color: #246ba1;
    width: 44%;
    border-radius: 8px;
    margin-top: 15px;
    padding: 15px;
    margin-top: 30px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 3px 0px black;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.quiz_wrapper .options ul li :active{
    box-shadow: 0px 0px 0px 0px black;
}

.correct {
    background-color: green;
    box-shadow: 0px 3px 0px teal;
}  

 .wrong {
    background-color: red;
    box-shadow: 0px 3px 0px black;
}

 .score {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px 0;
}



.quiz_wrapper .score .next button {
    padding: 15px 80px;
    color: white;
    background-color:#ff9800;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 0px #ab0940;
    outline: none;
}

.quiz_wrapper .score .score-card .next button :active {
    box-shadow: 0px 3px 0px transparent;
}


.quiz_wrapper .score .score-card {
    font-size: 20px;
    color: black;
    line-height: 50px;
    text-transform: uppercase;
}

.quiz_wrapper .score .score-card span {
    background-color:#08c805;
    padding: 5px 20px;
    color: #ffffff;
    border-radius: 8px;

}

@media only screen and (max-width: 31.25em) {
    /*
    1rem = 9px. see top for explanation
    */ 
    html {
        font-size: 50%; 
    }
    /*  Reduce padding on smaller screens. 
    */
    .quiz_wrapper {
        padding: 1.5rem; 
    }
}

